/* 🌟 Hover Effects */
a:hover:not(.active-menu-item) {
  background-color: rgba(75, 78, 83, 0.55) !important;
  color: var(--button-text-color) !important;
  border-radius: 6px;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}


/* 🌟 Active State */
.active-menu-item {
  background-color: #10b981 !important;
  color: var(--button-text-color) !important;
  font-weight: bold;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

/* 🌙 Dark Mode Support */
.app-dark .active-menu-item {
  background-color: #10b981 !important;
  color: var(--button-text-color) !important;
}

