<p-drawer [(visible)]="visible" [closable]="true" position="right" [modal]="true" (onHide)="onClose()">
  <!-- Header -->
  <ng-template #header>
    <div class="flex items-center gap-2">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      ></p-avatar>
      <span class="font-bold mt-2">{{auth.info.name}}</span>
    </div>
  </ng-template>

  <!-- Content -->
  <div class="p-4">
    <ul class="list-none p-0 m-0">
      <li
        *ngFor="let item of menuItems"
        [routerLink]="item.routerLink"
        routerLinkActive="active-menu-item"
        class="relative  hover:bg-orange-700 "
      >
        <a
          pRipple
          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700
           dark:text-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors"
        >
          <i class="{{ item.icon }} mr-2"></i>
          <span class="font-medium">{{ item.label }}</span>
        </a>

        <p-divider  *ngIf="menuItems.indexOf(item) !== menuItems.length - 1"/>

      </li>
    </ul>
  </div>


  <!-- Footer -->
  <ng-template #footer>
    <div class="flex flex-col gap-3">
      <p-button  label="Account" icon="pi pi-user" class="w-full" outlined></p-button>
      <p-button  label="Logout" icon="pi pi-sign-out" class="w-full" text (click)="logoutHandler()"></p-button>
    </div>
  </ng-template>
</p-drawer>

