<p-card class="p-shadow-3">
  <div class="text-center">
    <h3>{{ inventoryForm.get('barcode')?.value ? 'Edit Inventory' : 'Add Inventory' }}</h3>
  </div>
  <div>
    <form [formGroup]="inventoryForm" class="formgrid grid">
      <!-- Product -->
      <div class="field col-12 md:col-6">
        <p-floatLabel variant="on">
          <p-autoComplete
            id="productAutocomplete"
            class="w-full"
            styleClass="w-full"
            dropdown="true"
            formControlName="productId"
            [suggestions]="filteredProducts"
            (completeMethod)="filterProducts($event)"
            [optionLabel]="'productName'"
            [optionValue]="'_id'"
            placeholder="Search a Product"
          ></p-autoComplete>
        </p-floatLabel>
      </div>

      <!-- Vendor -->
      <div class="field col-12 md:col-6">
        <p-floatLabel variant="on">
          <p-dropdown
            [options]="vendors"
            class="w-full"
            formControlName="vendorId"
            id="vendorId"
            optionLabel="entityName"
            optionValue="_id"
            placeholder="Select a Vendor"
          ></p-dropdown>
        </p-floatLabel>
      </div>

      <!-- Batch Details -->
      <div formArrayName="batches" class="col-12 mt-3">
        <h4 class="mt-2">Batch Details</h4>

        <div *ngFor="let batch of batchesFormArray.controls; let i = index" [formGroupName]="i" class="grid my-3">
          <!-- Quantity -->
          <div class="field col-12 md:col-6">
            <p-floatLabel variant="on">
              <input class="w-full" formControlName="quantity" pInputText type="number" />
              <label>Quantity</label>
            </p-floatLabel>
          </div>

          <!-- Purchase Price -->
          <div class="field col-12 md:col-6">
            <p-floatLabel variant="on">
              <input class="w-full" formControlName="purchasePrice" pInputText type="number" />
              <label>Purchase Price</label>
            </p-floatLabel>
          </div>

          <!-- Selling Price -->
          <div class="field col-12 md:col-6">
            <p-floatLabel variant="on">
              <input class="w-full" formControlName="sellingPrice" pInputText type="number" />
              <label>Selling Price</label>
            </p-floatLabel>
          </div>

          <!-- Total Cost -->
          <div class="field col-12 md:col-6">
            <p-floatLabel variant="on">
              <input class="w-full" formControlName="totalCost" pInputText type="number" />
              <label>Total Cost</label>
            </p-floatLabel>
          </div>

          <!-- Manufacturing Date -->
          <div class="field col-12 md:col-3">
            <p-floatLabel variant="on">
              <p-datePicker class="w-full" dateFormat="yy-mm-dd" formControlName="mgf_dt" showIcon></p-datePicker>
              <label>Manufacturing Date</label>
            </p-floatLabel>
          </div>

          <!-- Expiry Date -->
          <div class="field col-12 md:col-3">
            <p-floatLabel variant="on">
              <p-datePicker class="w-full" dateFormat="yy-mm-dd" formControlName="expiry_dt" showIcon></p-datePicker>
              <label>Expiry Date</label>
            </p-floatLabel>
          </div>

          <!-- Barcode -->
          <div class="field col-12 md:col-6">
            <p-floatLabel variant="on">
              <input class="w-full" formControlName="barcode" pInputText type="text" />
              <label>Barcode</label>
            </p-floatLabel>
          </div>

          <!-- Remove Batch Button -->
          <div class="col-12 flex justify-content-end">
            <p-button
              *ngIf="batchesFormArray.length > 1"
              icon="pi pi-trash"
              (click)="removeBatch(i)">
            </p-button>
          </div>

          <hr class="col-12 my-3">
        </div>

        <!-- Add New Batch Button -->
        <div class="col-12 flex justify-content-end mt-3">
          <p-button
            icon="pi pi-plus"
            class="p-button-primary p-button-lg"
            (click)="addBatch()"
            label="Add Batch">
          </p-button>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="col-12 flex justify-content-end mt-3">
        <p-button (click)="onCancel()" class="p-button-primary p-button-lg" label="Cancel"></p-button>
        <p-button (click)="onSubmit()" [label]="indicator ? 'Update Inventory' : 'Add Inventory'" class="p-button-primary p-button-lg"></p-button>
      </div>
    </form>
  </div>
</p-card>
