<p-card class="p-shadow-3">
  <div class="text-center">
    <h3>{{ inventoryForm.get('barcode')?.value ? 'Edit Inventory' : 'Add Inventory' }}</h3>
  </div>
  <div>
    <form [formGroup]="inventoryForm" class="formgrid grid">


      <!-- Product -->
      <div class="field col-12 md:col-6">
        <p-floatLabel variant="on">
          <p-autoComplete
            id="productAutocomplete"
            class="w-full"
            styleClass="w-full"
            dropdown="true"
            formControlName="productId"
            [suggestions]="filteredProducts"
            (completeMethod)="filterProducts($event)"
            [optionLabel]="'productName'"
            [optionValue]="'_id'"
            placeholder="Search a Product"
          ></p-autoComplete>
        </p-floatLabel>
      </div>

      <!-- Vendor -->
      <div class="field col-12 md:col-6">
        <p-floatLabel variant="on">
          <p-dropdown
            [options]="vendors"
            class="w-full"
            formControlName="vendorId"
            id="vendorId"
            optionLabel="entityName"
            optionValue="_id"
            placeholder="Select a Vendor"
          ></p-dropdown>
        </p-floatLabel>
      </div>


      <!-- Batches (Nested FormGroup) -->
      <div class="grid col-12 mt-1" formGroupName="batches">

        <!-- Quantity -->
        <div class="field col-12 md:col-6">
          <p-floatLabel variant="on">
            <input
              class="w-full"
              formControlName="quantity"
              id="quantity"
              pInputText
              type="number"
            />
            <label for="quantity">Quantity</label>
          </p-floatLabel>
        </div>

        <!-- Purchase Price -->
        <div class="field col-12 md:col-6">
          <p-floatLabel variant="on">
            <input
              class="w-full"
              formControlName="purchasePrice"
              id="purchasePrice"
              pInputText
              type="number"
            />
            <label for="purchasePrice">Purchase Price</label>
          </p-floatLabel>
        </div>

        <!-- Selling Price -->
        <div class="field col-12 md:col-6">
          <p-floatLabel variant="on">
            <input
              class="w-full"
              formControlName="sellingPrice"
              id="sellingPrice"
              pInputText
              type="number"
            />
            <label for="sellingPrice">Selling Price</label>
          </p-floatLabel>
        </div>

        <!-- Total Amount Due Price -->
        <div class="field col-12 md:col-6">
          <p-floatLabel variant="on">
            <input
              class="w-full"
              formControlName="totalCost"
              id="totalCost"
              pInputText
              type="number"
            />
            <label for="sellingPrice">Total Cost</label>
          </p-floatLabel>
        </div>
        <!-- Manufacturing Date (mgf) -->
        <div class="field col-12 md:col-3">
          <p-floatLabel variant="on">
            <p-datePicker
              class="w-full"
              dateFormat="yy-mm-dd"
              formControlName="mgf_dt"
              id="mgf"
              showIcon
            ></p-datePicker>
            <label for="mgf">Manufacturing Date</label>
          </p-floatLabel>
        </div>

        <!-- Expiry Date (expiry) -->
        <div class="field col-12 md:col-3">
          <p-floatLabel variant="on">
            <p-datePicker
              class="w-full"
              dateFormat="yy-mm-dd"
              formControlName="expiry_dt"
              id="expiry"
              showIcon
            ></p-datePicker>
            <label for="expiry">Expiry Date</label>
          </p-floatLabel>
        </div>
        <!-- barcode -->
        <div class="field col-12 md:col-6">
          <p-floatLabel variant="on">
            <input
              class="w-full"
              formControlName="barcode"
              id="barcode"
              pInputText
              type="text"
            />
            <label for="barcode">Barcode</label>
          </p-floatLabel>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="col-12 flex justify-content-end mt-3">
        <p-button
          (click)="onCancel()"
          class="p-button-primary p-button-lg"
          label="Cancel"
        ></p-button>
        <p-button
          (click)="onSubmit()"
          [label]="indicator?'Update Inventory' :'Add Inentory'"
          class="p-button-primary p-button-lg"
        ></p-button>
      </div>
    </form>
  </div>
</p-card>
