<div class="app-layout">
  <!-- Header -->
  <header *ngIf="shouldShowHeader()">
    <p-toolbar>
      <div class="p-toolbar-group-left flex items-center gap-3">
        <p-avatar [image]="auth.info.logo" size="xlarge" shape="circle"></p-avatar>
        <h3 class="header-title mt-4 font-bold">{{auth.info.companyName}}</h3>
      </div>

      <div class="p-toolbar-group-right">

        <p-button
          icon="pi pi-sun"
          class="p-button-text"
          *ngIf="!themeService.isDarkModeEnabled()"
          (click)="themeService.toggleTheme()"
        ></p-button>
        <p-button
          icon="pi pi-moon"
          class="p-button-text"
          *ngIf="themeService.isDarkModeEnabled()"
          (click)="themeService.toggleTheme()"
        ></p-button>
        <p-button
          icon="pi pi-bars"
          class="p-button-text ml-2"
          (click)="toggleSidebar()"
        ></p-button>
      </div>
    </p-toolbar>
  </header>
  <app-drawer [menuItems]="menuItems" [visible]="visibleSidebar1" (eventEmitter)="closeHandler()"></app-drawer>


  <!-- Main Content -->
  <div class="main-content">
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>

  <!-- Footer -->
  <footer>
    <p>© 2025 Admin Panel. All rights reserved.</p>
  </footer>
</div>
