<div class="app-layout">
  <!-- Header -->
  <header *ngIf="shouldShowHeader()">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <p-button
          icon="pi pi-bars"
          class="p-button-text"
          (click)="toggleSidebar()"
        ></p-button>
        <span class="header-title">Client Portal</span>
      </div>
      <div class="p-toolbar-group-right">
        <p-button
          icon="pi pi-sun"
          class="p-button-text"
          *ngIf="!themeService.isDarkModeEnabled()"
          (click)="themeService.toggleTheme()"
        ></p-button>
        <p-button
          icon="pi pi-moon"
          class="p-button-text"
          *ngIf="themeService.isDarkModeEnabled()"
          (click)="themeService.toggleTheme()"
        ></p-button>
      </div>
    </p-toolbar>
  </header>
  <app-drawer [menuItems]="menuItems" [visible]="visibleSidebar1" (eventEmitter)="closeHandler()"></app-drawer>


  <!-- Main Content -->
  <div class="main-content">
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>

  <!-- Footer -->
  <footer>
    <p>© 2025 Admin Panel. All rights reserved.</p>
  </footer>
</div>
