<p-card class="p-shadow-3">
  <div class="p-card-header flex justify-content-between align-items-center">
    <h3>Inventory</h3>
    <p-button
      label="Add Inventory"
      icon="pi pi-plus"
      class="p-button-primary"
      (click)="onAdd()"
    ></p-button>
  </div>
  <p-table
    [value]="inventories"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [responsiveLayout]="'scroll'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Product</th>
        <th>Barcode</th>
        <th>Retail Price</th>
        <th>Total Quantity</th>
        <th>Vendor</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-inventory>
      <tr>
        <td>{{ inventory.productId.productName }}</td>
        <td>
          <svg
            appBarcode
            [barcodeValue]="inventory.barcode"
            [barcodeFormat]="'CODE128'"
            [barcodeOptions]="{ width: 1, height: 80, displayValue: true }"
          ></svg>

        </td>
        <td>{{ inventory.productId.price.retailPrice }}</td>
        <td>{{ inventory.totalQuantity }}</td>
        <td>{{ inventory.vendorId.entityName }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="p-button-text"
            [disabled]="true"
            (click)="onEdit(inventory)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            [disabled]="true"
            class="p-button-text p-button-danger"
            (click)="onDelete(inventory)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
