@use 'primeflex/primeflex' as primeflex;
@import "primeicons/primeicons.css";

:root {
  --primary-color: var(--p-primary-color);
  --background-color: var(--p-surface-ground);
  --text-color: var(--p-text-color);
  --button-color: #007bff; // Default blue for light theme
}

.app-dark {
  --primary-color: var(--p-primary-color);
  --background-color: var(--p-surface-ground);
  --text-color: var(--p-text-color);
  --button-color: #ff0000; // Red for dark theme
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
button{
  background-color: var(--button-color) !important;
}
