<p-card class="p-shadow-3">
  <div class="p-card-header flex  mx-3 justify-content-between align-items-center">
    <h3>Entities</h3>
    <p-button
      label="Add Entity"
      icon="pi pi-plus"
      class="p-button-primary"
      (click)="onAdd()"
    ></p-button>
  </div>

  <p-table
    [value]="entities"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [responsiveLayout]="'scroll'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Entity Name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
      <tr>
        <td>{{ entity.entityName }}</td>
        <td>{{ entity.entityType }}</td>
        <td>{{ entity.accessStatus }}</td>
        <td>{{ entity.createdAt | date:'short' }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="p-button-text"
            [disabled]="true"
            (click)="onEdit(entity)"
          ></p-button>
          <p-button
            [disabled]="true"
            icon="pi pi-trash"
            class="p-button-text p-button-danger"
            (click)="onDelete(entity)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
